#skip2 {
  position: absolute;
  left: 100px;

  &.skip2-hidden {
    top: -1000px;
    width: 1px;
    height: 1px;
    overflow: hidden;
  }

  .tooltip {
    .tooltip-arrow {
      left: 1.5rem;
    }
  }

  [role='separator'] {
    padding: 0.25rem 0.5rem;
    border-bottom: 1px solid #757575;
    font-weight: bold;
  }

  [role='menu'] {
    box-shadow: 3px 3px 10px #ccc;
  }

  [role='menuitem'] {
    cursor: pointer;

    &.skip2-menu-header-level-2 {
      padding-left: 2em;
    }

    &.skip2-menu-header-level-3 {
      padding-left: 3em;
    }

    &.skip2-menu-header-level-4 {
      padding-left: 4em;
    }

    &.skip2-menu-header-level-5 {
      padding-left: 5em;
    }

    &.skip2-menu-header-level-6 {
      padding-left: 6em;
    }
  }
}
