/* stylelint-disable selector-id-pattern, selector-class-pattern */
@import 'skipMenu-base';

[data-skip-menu] {
  [role='menu'] {
    z-index: 1000;
    min-width: 10rem;
    padding: 0.5rem 0;
    margin: 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgb(0 0 0 / 15%);
    border-radius: 0.25rem;
  }

  [role='menuitem'] {
    display: block;
    padding: 0.25rem 1rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border: 0;

    &:hover,
    &:focus {
      color: #fff;
      background-color: #757575;
    }
  }

  button {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
  }

  .tooltip {
    padding: 0.4rem 0;
    position: absolute;
    font-size: 0.875rem;
    word-wrap: break-word;
  }

  .tooltip-arrow {
    top: 0;
    position: absolute;
    display: block;
    width: 0.8rem;
    height: 0.4rem;
    left: 1em;

    &::before {
      bottom: -1px;
      border-color: transparent;
      border-width: 0 0.4rem 0.4rem;
      border-bottom-color: #000;
      position: absolute;
      content: '';
      border-style: solid;
    }
  }

  .tooltip-inner {
    max-width: 200px;
    padding: 0.25rem 0.5rem;
    color: #fff;
    text-align: center;
    background-color: #000;
    border-radius: 0.25rem;
  }

  .dropdown-menu {
    position: absolute;
  }
}

[data-skip-menu] .pf-c-dropdown__toggle-icon::after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: '';
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
}
